/* CSS  */

/* Basic page style */
body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

.container {
    max-width: 768px;
    margin: auto;
}
/* Head */
header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 500px;
    height: auto;
    vertical-align: middle;
}

/* section-title */
.section-title {
    font-family: monospace; 
    font-size: 20px;
    color: red;
    font-weight: 900; 
    margin: 20px 0;
}

/* img */
.artwork, .gallery-image {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    padding: 10px;
}

/*  section  */
section {
    margin: 100px auto;
    width: 80%;
    text-align: center;
}


p {
    font-size: 14px;
    color: #000000;
}

/* Added .text-box style  */
.text-box {
    background-color: #f0f0f0;
    max-width: 290px;
    padding: 10px;
    margin: 5px auto;
    text-align: left;
}

/* Rent Gallery  */
.rent-gallery {
    background-color: #e3f2fd; /* Set background color to light blue */
    padding: 20px; 
    width: 100vw; /* Fill the page */
    margin-left: calc(-50vw + 50%); /* Offset content to the left to fill both sides */
    box-sizing: border-box; /* Make sure the padding does not affect the overall width */
    margin-bottom: 0; /* Make sure there is no space between */
}

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 0; /* Make sure it's tightly linked to .rent-gallery */
}

/* footer-logo */
.footer-logo {
    width: 250px;
    height: auto;
    vertical-align: middle;
    filter: invert(1);
}
